@model SimpleSumCalculator.Models.SumCalculator

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
    <br />
    @Html.EditorFor(m => m.firstNum)
    <br />
    @Html.EditorFor(m => m.secondNum)
    <br />
    @Html.DisplayFor(m => m.result)
    <br />
    <input type="submit" value="Add" />
}